.project__name{
    display: flex;
}

.project-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.project-content h1{
    color: #121212;
    font-family: var(--font-family);
    font-weight: 1000;
    font-style: normal;
    font-size: 28px;
    letter-spacing: -0.2px;
}

.project-content p{
    color: #121212;
    font-family: var(--font-family);
    font-weight: normal;
    font-style: normal;
    line-height: 27px;
    font-size: 18px;
    letter-spacing: -0.04em;
    margin-top: 1.0rem;
}

.project-content a{
    color: #121212;
    font-family: var(--font-family);
    font-weight: lighter;
    font-style: normal;
    font-size: 15px;
    margin-top: 1rem;
    text-decoration: underline;
}

.project-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: right;

}

.project-image img{
    width: 70%;
    height: 100%;

}
