.name__header{
    display: flex;
}

.name__header-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.name__header-content h1{
    color: #121212;
    font-family: var(--font-family);
    font-weight: 800;
    font-style: normal;
    line-height: 75px;
    font-size: 62px;
    letter-spacing: -0.04em;
}

.name__header-content p{
    color: #121212;
    font-family: var(--font-family);
    font-weight: normal;
    font-style: normal;
    line-height: 27px;
    font-size: 20px;
    letter-spacing: -0.04em;
    margin-top: 1.0rem;
}

.name__header-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.name__header-image img{
    width: 100%;
    height: 100%;

}

@media screen and (max-width: 1050px) {
    .name__header{
        flex-direction: column;
    }
    .name__header-content{
        margin: 0 0 3rem;
    }
}
@media screen and (max-width: 650px) {
    .name__header h1{
        font-size: 48px;
        line-height: 60px;
    }
    .name__header p{
        font-size: 16px;
        line-height: 24px;
    }
    .name__header-content{
        margin: 0 0 3rem;
    }
}
@media screen and (max-width: 490px) {
    .name__header h1{
        font-size: 36px;
        line-height: 48px;
    }
    .name__header p{
        font-size: 14px;
        line-height: 24px;
    }
}
.mouse{
    margin: 0px auto;
    width: 100px;
  }.mouse-icon{
     width: 25px;
     height: 45px;
     border: 2px solid #121212;
     border-radius: 20px;
     cursor: pointer;
     position: relative;
     text-align: center;
  }.mouse-wheel{
    height: 6px;
    margin: 2px auto 0;
    display: block;
    width: 3px;
    background-color: #000000;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
   -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
  }
  @-webkit-keyframes wheel-up-down {
      0% {
          margin-top: 2px;
          opacity: 0;
      }
      30% {
          opacity: 1;
      }
      100% {
          margin-top: 20px;
          opacity: 0;
      }
  }@-moz-keyframes wheel-up-down {
      0% {
          margin-top: 2px;
          opacity: 0;
      }
      30% {
          opacity: 1;
      }
      100% {
          margin-top: 20px;
          opacity: 0;
      }
  }@keyframes wheel-up-down {
      0% {
          margin-top: 2px;
          opacity: 0;
      }
      30% {
          opacity: 1;
      }
      100% {
          margin-top: 20px;
          opacity: 0;
      }
  }
  